@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Forum', cursive;
    font-size: 18px;
}
body {
    width: 100%;
    margin: 0 auto;
}
.container-background-color {
    background: #ffd7b5;
    padding: 15px 10px 35px 10px;
}

button {
    padding: 5px;
    background:#512600;
    border: 0;
    text-align: center;
}
.img-size img {
    height: 300px;
    width: 600px;
    text-align: center;
}


.header {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: url(IMG_5315.jpg); background-size: cover;
    padding: 15px 10px 10px;
}
.logo {
    width: 17%;
    padding: 0 20px;
}
.name {
    width: 59%;
    padding-left: 10px;
    line-height: 60px;
}
.name2 {
    color: #fff;
    font-size: 50px;
    margin: 0;
}
.name3 {
    font-weight: "Forum";
    text-align: center;
    color: #512600;
    font-size: 50px;
    margin: 0;
}
.center {
    color: #fff;
    font-size: 30px;
    margin: 0;
}
.aligncenter {
    text-align: center;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 24%;
    min-height: 77px;
}
.header__contacts a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.header__contacts a:hover {
    color: #35302a;
}


.menu {
    display: flex;
    background: #512600;
    font-weight: "Forum"
}
.menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 5px 15px;
    margin-left: 10px;
    height: 35px;
    line-height: 20px;
}
.menu__link:hover, .menu__link-active {
    color: #2e2a24;
    background: #ddcaa0;
}


.main {
    margin-top: 15px;
}
.main__row {
    display: flex;
    margin-top: 15px;
}

.main__menu {
    width: 18%;
    display: flex;
    flex-direction: column;
    background: #512600;
    margin-right: 15px;
    font-weight: "Forum"
}
.main__menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
}
.main__menu-link:hover, .main__menu-link-active {
    color: #35302a;
    background: #ddcaa0;
}
.main__container-bg {
    display: flex;
    justify-content: flex-end;
    background: url(1603875080_gesha01.jpg);
    background-size: cover;
    min-height: 458px;
    width: 80%;
    padding: 10px;
}
.main__container-bg11 {
    display: flex;
    justify-content: flex-end;
    background: #ddcaa0;
    background-size: cover;
    min-height: 458px;
    width: 80%;
    padding: 10px;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#mainmenu {
    background: #444;
    position: relative;
    overflow: hidden;
    height: 40px;
    margin: 0px 0;
}
#mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 14px "Forum", Helvetica, sans-serif;
    height: 40px
}
#mainmenu ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px
}
#mainmenu ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
}
#mainmenu ul li a:hover {
    background-color: #ddcaa0;
}


.content__page__text {
    font-family: 'Forum', cursive;
    font-weight: 300;
    color: #130e0e;
    
    margin-bottom: 60px;
}
.content__page {
    width: 100%;
    margin-left: 2px;
}
.main__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 42%;
    color: #fff;
    background: rgba(1, 40, 52, 0.6);
    padding: 20px 10px;
}
.about__heading {
    font-size: 35px;
    margin: 0;
}
.about__button {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    background: #27bde0;
    color: #35302a;
    margin-top: 35px;
}
.about__button:hover {
    background: #56849a;
    color: #fff;
}


.main__info {
    width: 50%;
    text-decoration: none;
}
.main__info_indent {
    margin-right: 15px;
}
.info__img {
    width: 100%;
}
.info__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddcaa0;
    margin: -5px 0 0;
    height: 60px;
    font-size: 30px;
    color: #35302a;
}
.main__info:hover .info__heading {
    background: #512600;
    color: #fff;
}

.main__team {
    width: 100%;
    text-decoration: none;
}


.team__heading-container {
    padding: 10px;
    background: #512600;
}
.team__heading {
    background: #ddcaa0;
    margin: 0;
    padding: 10px;
    width: 215px;
    color: #35302a;
    font-size: 29px;
}
.team__img {
    width: 50%;
}


.footer {
    display: flex;
    align-items: center;
    background: #512600;
    height: 90px;
    padding: 0 20px;
}
.footer__copyright {
    font-size: 20px;
    color: #ffd7b5;
    width: 80%;
}
.footer__developer {
    text-align: center;
    width: 50%;
}
.footer__developer-link {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.footer__developer-link:hover {
    color: #ddcaa0;
}
.pageMenu__img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
